{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>REACT | ERDOS Technologies</title>
    <meta name="description" content="Your Description Here">
    <meta name="keywords" content="free boostrap, bootstrap template, freebies, free theme, free website, free portfolio theme, portfolio, personal, cv">
    <meta name="author" content="Jenn, ThemeForces.com">

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/apple-touch-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/apple-touch-icon-114x114.png' %}">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"  href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'font-awesome-4.2.0/css/font-awesome.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/jasny-bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/animate.css' %}">

    <!-- Slider
    ================================================== -->
    <link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/owl.theme.css' %}" rel="stylesheet" media="screen">

    <!-- Stylesheet
    ================================================== -->
    <link rel="stylesheet" type="text/css"  href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">


    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="{% static 'js/modernizr.custom.js' %}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <!-- Off Canvas Navigation
    ================================================== -->
    <div class="navmenu navmenu-default navmenu-fixed-left offcanvas"> <!--- Off Canvas Side Menu -->
        <button class="close" data-toggle="offcanvas" data-target=".navmenu">
            <span class="fa fa-close"></span>
        </button>
        <div class="add-margin"></div>
        <ul class="nav navmenu-nav"> <!--- Menu -->
            <li><a href="#home" class="page-scroll">Home</a></li>
            <li><a href="#meet-us" class="page-scroll">What students get?</a></li>
            <li><a href="#services" class="page-scroll">How?</a></li>
            <li><a href="#works" class="page-scroll">Why schools should enroll?</a></li>
            <li><a href="#about-us" class="page-scroll">FAQ</a></li>
            <li><a href="#contact" class="page-scroll">Contact Us</a></li>
        </ul><!--- End Menu -->
    </div> <!--- End Off Canvas Side Menu -->

    <!-- Home Section -->
    <div id="home">
        <div class="container text-center">
            <!-- Navigation -->
            <nav id="menu" data-toggle="offcanvas" data-target=".navmenu">
                <span class="fa fa-bars"></span>
            </nav>

            <div class="content">
                <h4>We've got the special power</h4>
                <hr>
                <div class="header-text btn">
                    <h1><span id="head-title"></span></h1>
                </div>
            </div>

            <a href="#meet-us" class="down-btn page-scroll">
                <span class="fa fa-angle-down"></span>
            </a>
        </div>
    </div>

    <!-- Meet Us Section -->
    <div id="meet-us">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title">
                        <h2>R<small>egressively</small> E<small>ngineered</small> A<small>nalysis through</small> C<small>ognitive</small> T<small>ests</small></h2>
                        <hr>
                    </div>
                    <p>REACT is a process of testing, analysis and feedback for students of class 3 to 9. We have been working very hard to achieve the pinnacle of evolution in assessment methods. We proudly present the exam which aims to deliver beyond evaluation, beyond analysis.</p>
                    <a href="#services" class="down-btn page-scroll">
                        <span class="fa fa-angle-down"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Story Section -->
    <div id="story" class="dark-bg">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title">
                        <h2>Story Behind REACT</h2>
                        <hr>
                    </div>
                    <p id="expandbutton"><a class="btn collapsed" data-toggle="collapse" data-target="#storydetails"></a></p>
                    <div class="collapse" id="storydetails">
<p>Most of the schools are already encouraging national level tests, which aim to evaluate the skills of students. But there is a problem, which we would like to discuss. Have you ever wondered why the learning received by taking such tests, is not getting reflected elsewhere. The fact is: the effect which these tests have on students depends on their performance in the test. Our analysis has revealed that these effects can be broadly classified into 3 categories.</p>

<p>The students among top 5% in their schools get highly motivated when they see themselves among top 100 students in the city. They gain a boost in their confidence.</p>

<p>Some other students from the same top 5%, who could not perform upto their full potential on that day (despite of being equally talented) get demotivated, and feel that these tests are don't help in improving their scholastic skills. So, most of them do not participate the second time.</p>

<p>Students below top 5% who took the same test, continue taking these tests but they don't hope for any gains or rewards. They do it for fun because they like the carefully designed interesting questions. It is refreshing to learn something out of your curriculum. All 3 categories of students are not making the best out of their investment. Lets revisit the 3 categories again, but in reverse order.</p>

<p>The students who take these tests only because they enjoy the experience, are actually the ones who can make the most out of these tests just because of their sheer interest. They are average students. The one thing that they take way from these tests is new brain-tickling questions. But this comes at the cost of their confidence. After taking the tests they don't get to learn how to solve those interesting questions. Even remembering the exact question is difficult. But one thing which settles in their mind that there were so many question which left them clueless.</p>

<p>The top 5% students who got didn't find the tests useful are left with a bad impression about such tests which inhibits their growth in future. There are some tests which are intentionally made tough by just asking questions from one standard above. They are most harmful types of tests. One should never take such tests unless there are monetary rewards ;)</p>

<p>The top 5% students who performed well, get only confidence and motivation as a reward. But actually this is the only category which spend time, money and energy in doing questions, one could already do. It is hard to realise that they are the biggest losers here.</p>

<p>This is what urged us to build <a href="#">REACT</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Services Section -->
    <div id="services">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title">
                        <h2>What Students Get?</h2>
                        <hr>
                    </div>
                    <p>With REACT we have raised the bar so high that it is impossible for others to meet our benchmarks. And we were capabale of doing so because we ourselves have been a part of this education system and as a student we all have excelled throughout. After all this experience, we have designed the state-of-art assessment method which offers you:</p>
                </div>
            </div>

            <div class="space"></div>

            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="service">
                        <span class="fa fa-puzzle-piece fa-3x"></span>
                        <h4>Tailored Questions</h4>
                        <p>With immense effort we have compiled a curated set of questions designed to put your cognitive abilities to test. We have spent equal efforts in designing the options, every detail you miss will lead you to one of the incorrect options. Our questions test at least 2 concepts from more than one subject. Each question simulates real world problems which can be solved using academic knowledge imparted in schools.</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="service">
                        <span class="fa fa-paste fa-3x"></span>
                        <h4>Line-Of-Thought Solutions</h4>
                        <p>Firstly, we are providing solutions. Secondly, you might feel that solution is so hard that one cannot think about it in a time-constrained test, so, we are providing you with line-of-thought which will teach you how to break the question in simpler questions and identify the most difficult step. Lastly, we will also provide you with some shortcuts(if any) to solve the question without actually knowing the concept.</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="service">
                        <span class="fa fa-tasks fa-3x"></span>
                        <h4>Predictive Analysis</h4>
                        <p>By the time you get our solutions you will not remember how you approached every question in the test. For each wrong answer we have designed our options such that we can guess what mistake you made. Also, we will provide you insights about your performance with respect to other students. Our analysis will be more focused on the skills of your brain, rather than the knowledge of subjects and how to develop lacking skills.</p>
                    </div>
                </div>
            </div>
            <a href="#works" class="down-btn page-scroll">
                <span class="fa fa-angle-down"></span>
            </a>
        </div>
    </div>

    <!-- Game Section -->
    <div id="game" class="dark-bg">
        <div class="container">
            <div class="section-title text-center">
                <h2>A quick puzzle</h2>
                <hr>
                <p>A short game sheds light on how our neural connections are academically aligned.</p>
            </div>
            <div class="space"></div>
            <div class="g-fakeForm">
              <div>
                <h4 class="g-instruction-hed">Here’s how it works:</h4>
                <p class="g-instructions">We’ve chosen a rule that some sequences of three numbers obey — and some do not. Your job is to guess what the rule is.</p> <p class="g-instructions"><br>We’ll start by telling you that the sequence 2, 4, 8 obeys the rule:</p>
                <div id="g-guess" class="g-example">
                  <div class="g-numbers">
                    <button class="go-to-btn" disabled="">2</button>
                    <button class="go-to-btn" disabled="">4</button>
                    <button class="go-to-btn" disabled="">8</button>
                    <p class="g-answer g-yes">Obeys the rule</p>
                  </div>
                </div>
              </div>
              <div class="g-yours">
                <p class="g-instructions">Now it’s your turn. Enter a number sequence in the boxes below, and we’ll tell you whether it satisfies the rule or not. You can test as many sequences as you want.</p>

                <h3 class="g-instruction-hed g-first-guess-hed g-secod-instruction-hed g-first-guess-already-done" style="display: none;">Your guesses:</h3>
                <div id="g-guesses" class="g-guess">

                </div>

                <div id="g-input" class="g-again">
                  <h5 class="g-instruction-hed g-first-guess-hed g-secod-instruction-hed">Enter your first sequence here:</h5>
                  <!-- <h5 class="g-next-probem-prompt">You can test another sequence if you want:</h5> -->
                  <div class="g-numbers">
                    <input type="text" class="g-num form-control" autocomplete="off">
                    <input type="text" class="g-num form-control" autocomplete="off">
                    <input type="text" class="g-num form-control" autocomplete="off">
                    <button type="button" class="g-check btn check-btn" onclick="add_guess()">Check</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Section -->
    <div id="works">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title">
                        <h2>Our Latest Projects</h2>
                        <hr>
                    </div>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
                </div>
            </div>
            <div class="space"></div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 col-sm-6 nopadding">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h5>Logo Design</h5>
                                    <p class="lead">Client Seal</p>
                                    <div class="hline"></div>
                                </div>
                                <img src="{% static 'img/portfolio/01.jpg' %}" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 nopadding">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h5>Stationery</h5>
                                    <p class="lead">Design Project</p>
                                    <div class="hline"></div>
                                </div>
                                <img src="{% static 'img/portfolio/02.jpg' %}" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 nopadding">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h5>Branding</h5>
                                    <p class="lead">Metalbrand</p>
                                    <div class="hline"></div>
                                </div>
                            </a>
                            <img src="{% static 'img/portfolio/03.jpg' %}" class="img-responsive" alt="...">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 nopadding">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h5>Business Card</h5>
                                    <p class="lead">Clothing Line</p>
                                    <div class="hline"></div>
                                </div>
                            </a>
                            <img src="{% static 'img/portfolio/04.jpg' %}" class="img-responsive" alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="space"></div>
        <div class="text-center">
            <a href="#" class="btn read-more-btn">Check on Dribbble</a>
            <br>
            <a href="#about-us" class="down-btn page-scroll"><span class="fa fa-angle-down"></span></a>
        </div>
    </div>

    <!-- Clients Section -->
    <div id="clients">
        <div class="overlay">
            <div class="container text-center">
                <div class="section-title">
                    <h2>Our Partners</h2>
                    <hr>
                </div>

                <ul class="clients">
                    <li><a href="#"><img src="{% static 'img/clients/01.png' %}" class="img-responsive" alt="..."></a></li>
                    <li><a href="#"><img src="{% static 'img/clients/02.png' %}" class="img-responsive" alt="..."></a></li>
                    <li><a href="#"><img src="{% static 'img/clients/03.png' %}" class="img-responsive" alt="..."></a></li>
                    <li><a href="#"><img src="{% static 'img/clients/04.png' %}" class="img-responsive" alt="..."></a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- About Us Section -->
    <div id="about-us">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title">
                        <h2>About Us</h2>
                        <hr>
                    </div>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
                </div>
            </div>
            <div class="space"></div>
            <div class="row">
                <div class="col-md-10 col-sm-10">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="team">
                                <img src="{% static 'img/team/02.jpg' %}" class="img-responsive img-circle" alt="...">
                                <br>
                                <h4>Lian Gwapa</h4>
                                <p class="small">CEO/Founder</p>
                                <hr>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="team">
                                <img src="{% static 'img/team/04.jpg' %}" class="img-responsive img-circle" alt="...">
                                <br>
                                <h4>Jenn Pereira</h4>
                                <p class="small">Web Coder</p>
                                <hr>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="team">
                                <img src="{% static 'img/team/03.jpg' %}" class="img-responsive img-circle" alt="...">
                                <br>
                                <h4>Alan Podemski</h4>
                                <p class="small">Web Designer</p>
                                <hr>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-2 col-sm-2">
                    <div class="team hire">
                        <h4>We Are Hiring!</h4>
                        <hr>
                        <div class="space"></div>
                        <a href="#">
                            <span class="fa fa-paper-plane-o fa-2x"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="text-center">
                <a href="#contact" class="page-scroll down-btn">
                    <span class="fa fa-angle-down"></span>
                </a>
            </div>

        </div>
    </div>

        <!-- Testimonial Section -->
    <div id="testimonials">
        <div class="overlay">
            <div class="container">
                <div class="section-title">
                    <h2>What my Clients Say...</h2>
                    <hr>
                </div>

                <div id="testimonial" class="owl-carousel owl-theme">
                  <div class="item">
                    <h3>Et iusto odio dignissimos ducimus qui blanditiis <br>praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint <br>occaecati cupiditate non provident. </h3>
                    <br>
                    <h6>LJ, Abc Company</h6>
                  </div>

                  <div class="item">
                    <h3>Fusce dapibus, tellus ac cursus commodo, tortor<br> mauris condimentum. Duis mollis, est non commodo luctus, nisi erat </h3>
                    <br>
                    <h6>Kai, Web Geekster</h6>
                  </div>

                  <div class="item">
                    <h3>Cras justo odio, dapibus ac facilisis in, egestas <br>eget quam. Donec id elit non mi porta gravida at eget metus.</h3>
                    <br>
                    <h6>Jenn, Coders' Playground</h6>
                  </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Contact Section -->
    <div id="contact">
        <div class="container">
            <div class="section-title text-center">
                <h2>Contact Us</h2>
                <hr>
            </div>
            <div class="space"></div>

            <div class="row">
                <div class="col-md-3">
                    <address>
                        <strong>Address</strong><br>
                        <br>
                        ThemeForces.Com<br>
                        Igbalangao, Bugasong, Anitque<br>
                        5704, Philippines<br>
                        Phone: (123) 456-7890
                        <ul class="social">
                            <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                            <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fa fa-dribbble"></span></a></li>
                          </ul>
                    </address>
                </div>

                <div class="col-md-9">
                    <form autocomplete="off">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Your Name">
                                <input type="text" class="form-control" placeholder="Phone No.">
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Email">
                                <input type="text" class="form-control" placeholder="Subject">
                            </div>
                        </div>
                        <textarea class="form-control" rows="4" placeholder="Message"></textarea>
                        <div class="text-right">
                            <a href="#" class="btn send-btn">Send</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <nav id="footer">
        <div class="container">
             <div class="pull-left">
                <p>2017 © Erdos Technologies Private Limited. All Rights Reserved. Designed at IIT Bombay.</a></p>
            </div>
            <div class="pull-right">
                <a href="#home" class="page-scroll">Back to Top <span class="fa fa-angle-up"></span></a>
            </div>
        </div>
    </nav>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/jquery.1.11.1.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/SmoothScroll.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jasny-bootstrap.min.js' %}"></script>

    <script src="{% static 'js/owl.carousel.js' %}"></script>
    <script src="{% static 'js/typed.js' %}"></script>
    <script>
      $(function(){
          $("#head-title").typed({
            strings: ["To unlock your hidden potential^1000", "To add 60 skills in 60 minutes^1000" ,"To reengineer the neural connections^1000"],
            typeSpeed: 200,
            loop: true,
            startDelay: 100
          });
      });
    </script>

    <!-- Javascripts
    ================================================== -->
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

  </body>
</html>
